*.iml
.gradle
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/gradle.xml.xml
.idea/runConfigurations.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
